VGG_ILSVRC_19_layers.caffemodel
VGG_ILSVRC_19_layers_deploy.prototxt
VGG_ILSVRC_19_layers_deploy.prototxt.lua
VGG_ILSVRC_19_layers.caffemodel
vgg_normalised.caffemodel
audio/
hands/
input/
output/
signature/
temp/
video/
videores/
waterimg/
waterres/