<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>绘图大师</title>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <style>
        #canvas {
            display: block;
            position: absolute;
            top: 55px;
            bottom: 80px;
            left: 0;
            opacity: 0.95;
        }
        .image-main img {
            position: absolute;
            width: 100%;
        }
    </style>
</head>
<body>
<header class="gallery-header">
    <h1>作品陈列室</h1>
</header>
<main class="image-main">
    <img src="/static/a/output/{{show.name}}.gif" alt="">
    <canvas id="canvas">你的浏览器不支持canvas</canvas>
    <audio id="audio" src="/static/a/audio/15.mp3"></audio>
    <script src="/static/js/mask.js"></script>
</main>
<footer>
    <a href="wechat">关注公众号</a>
</footer>
</body>
</html>