<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>绘图大师</title>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>
<body>
<header class="gallery-header">
    <h1>作品陈列室</h1>
</header>
<main class="image-main">
    <video src="/static/a/videores/{{show.src_img}}.mp4" controls></video>
</main>
<footer>
    <a id="home" href="{{url_for('index')}}">
        <img src="/static/images/home.png" alt="">
        <p>首页</p>
    </a>
    <a id="gallery" class="active" href="{{url_for('gallery')}}">
        <img src="/static/images/gallery.png" alt="">
        <p>我的展馆</p>
    </a>
    <a id="share" href="#">
        <img src="/static/images/share.png" alt="">
        <p>告诉朋友</p>
    </a>
</footer>
</body>
</html>