<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>绘图大师</title>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <style>
        .image-main h1 {
            text-align: center;
            margin-top: 50px;
        }
        .image-main a {
            position: absolute;
            text-align: center;
            width: 40vw;
            bottom: 30px;
            left: 30vw;
            height: 35px;
            line-height: 35px;
            background-color: #ffd739;
            color: #eee;
        }
    </style>
</head>
<body>
<header class="gallery-header">
    <h1>绘图大师</h1>
</header>
<main class="image-main">
    <h1>等待结果</h1>
    <a href="image">查看结果</a>
</main>
</body>
</html>